#demo-container-card .card-container {
    display: flex;
    flex-wrap: wrap;
}

#demo-container-card .card {
    flex: 1 1 200px;
    min-width: 200px;
}

#demo-container-card .button-container {
    display: flex;
    justify-content: center;
}
